@model IEnumerable<EmployeeStatusResponseModel>;
<div class="page-header">
    <h1>List of Status</h1>
</div>
<a asp-action="Create" asp-controller="EmployeeStatus">Add New EmployeeStatus</a>
<table class="table table-bordered table-striped table-hovered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Title</td>
                    <td>@m.Description</td>
                    <td>@m.IsActive</td>
                    <td><a asp-action="Edit" asp-controller="EmployeeStatus" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="EmployeeStatus" asp-route-id="@m.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>

