@model IEnumerable<EmployeeResponseModel>;
<div class="page-header">
    <h1>List of </h1>
</div>
<a asp-action="Create" asp-controller="Employee">Add New Employee</a>
<table class="table table-bordered table-striped table-hovered">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailId</th>
            <th>DOB</th>
            <th>SSN</th>
            <th>CurrentAddress</th>
            <th>Mobile</th>
            <th>HireDate</th>
            <th>EndDate</th>
            <th>EmployeeRoleId</th>
            <th>EmployeeTypeId</th>
            <th>EmployeeStatusId</th>
            <th>ManagerId</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.FirstName</td>
                    <td>@m.LastName</td>
                    <td>@m.EmailId</td>
                    <td>@m.DOB</td>
                    <td>@m.SSN</td>
                    <td>@m.CurrentAddress</td>
                    <td>@m.Mobile</td>
                    <td>@m.HireDate</td>
                    <td>@m.EndDate</td>
                    <td>@m.EmployeeRoleId</td>
                    <td>@m.EmployeeTypeId</td>
                    <td>@m.EmployeeStatusId</td>
                    <td>@m.ManagerId</td>
                    <td><a asp-action="Edit" asp-controller="Employee" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="Employee" asp-route-id="@m.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
